# Emacs temporary files
*~
\#*\#
.\#*
/gin-bin
/tmpdata/
/cas/cas.coverprofile

# Ignore bower intall files
public/vendor/*
/_resources.go
/cas/back-public.rice-box.go
/cas/back-templates.rice-box.go
