<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>CasGo</title>

    <link rel="stylesheet" href="../public/vendor/skeleton/css/normalize.css"/>
    <link rel="stylesheet" href="../public/vendor/skeleton/css/skeleton.css"/>
    <link rel="stylesheet" href="../public/vendor/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../public/style/css/casgo.css"/>
  </head>
  <body>
    <h1>CasGo Single Sign On Portal</h1>
    <h2>Welcome to CasGO, {{.userEmail}}!</h2>

    <script type="text/javascript" src="../public/vendor/knockout/dist/knockout.js"></script>
    <script type="text/javascript" src="../public/js/casgo.js"></script>
  </body>
</html>
