<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>CasGo</title>
		<link rel="stylesheet" href="../public/vendor/skeleton/css/normalize.css"/>
		<link rel="stylesheet" href="../public/vendor/skeleton/css/skeleton.css"/>
		<link rel="stylesheet" href="../public/style/css/casgo.css"/>
  </head>
  <body>
    <h1>CasGo Single Sign On Portal</h1>
    <h2>Sign in once, be authenticated everywhere.</h2>
    <h3><a href="/login">Login Now</a></h3>
  </body>
</html>
