<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf8">
        <title>CasGo</title>
        <link rel="stylesheet" href="../public/vendor/pure/pure-min.css"/>
        <link rel="stylesheet" href="../public/vendor/pure/grids-responsive-min.css"/>
        <link rel="stylesheet" href="../public/vendor/pure/buttons-min.css"/>
        <link rel="stylesheet" href="../public/vendor/font-awesome/css/font-awesome.min.css"/>
		    <link rel="stylesheet" href="../public/style/css/casgo.css"/>
    </head>
    <body>
        {{ yield }}
    </body>
</html>
