<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>{{.CompanyName}} CasGo Login</title>

    <!-- Inline styles -->
    <style>
    .alert {
      padding: 1em;
      color: white;
    }
    .alert.error {
      background-color: #FF6961;
    }
    .alert.success {
      background-color: #77DD77;
    }

    </style>

  </head>
  <body>
    <h1>{{.CompanyName}} - Login</h1>

    {{if .Error}}
    <div class="alert">
      <strong>Error: {{.Error}}</strong>
    </div>
    {{end}}

    <form action="/login" method="POST">
      <div>
        <label for="email"></label>
        <input id="email" name="email" type="email"  placeholder="Email Address"/>
      </div>

      <div>
        <label for="password"></label>
        <input id="password" name="password" type="password"  placeholder="Password"/>
        <div>

          <div>
            <button type="submit">Login</button>
            <p>Don't have a username/password? Maybe you should <a href="/register">register</a>?</p>
          </div>
    </form>
  </body>
</html>
