<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf8">
    <title>{{.CompanyName}} CasGo Login</title>

    <!-- Inline styles -->
    <style>
      .alert {
      color: red;
      }

    </style>

  </head>
  <body>
    <h1>{{.CompanyName}} -
      {{if .Register}}
      Register
      {{else}}
      Login
      {{end}}
    </h1>

    {{if .Error}}
    <div class=".alert" style="color:red">
      <strong>Error: {{.Error}}</strong>
    </div>
    {{end}}

    <form action="/login" method="POST">
      <div>
        <label for="email"></label>
        <input id="email" name="email" type="email"  placeholder="Email Address"/>
      </div>

      <div>
        <label for="password"></label>
        <input id="password" name="password" type="password"  placeholder="Password"/>
        <div>

          <div>
              {{if .Register}}
            <button type="submit">Register</button>
            {{else}}
            <button type="submit">Login</button>
            <p>Don't have a username/password? Maybe you should <a href="/?register=true">register</a>?</p>
            {{end}}
            </button>
          </div>
    </form>
  </body>
</html>
