<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<title>{{.CompanyName}} - CasGo Login</title>

		<!-- Inline styles -->
		<style>
		 .alerts-container {
			 margin-top: 1em;
			 margin-bottom: 1em;
		 }
		 .alert {
			 padding: 1em;
			 color: white;
		 }
		 .alert.error {
			 background-color: #FF6961;
		 }
		 .alert.success {
			 background-color: #77DD77;
		 }

		</style>

	</head>
	<body>
		<h1>{{.CompanyName}} - Login</h1>

		<div class="alerts-container">
			{{if .Error}}
			<div class="alert error">
				{{.Error}}
			</div>
			{{end}}

			{{if .Success}}
			<div class="alert success">
				{{.Success}}
			</div>
			{{end}}
		</div>

		{{if .currentUserEmail}}
		<h2>Signed in as user with email address {{.currentUserEmail}}</h2>
		<h2>Redirecting to services page...</h2>
		{{else}}
		<form action="/login" method="POST">
			<div>
				<label for="email"></label>
				<input id="email" name="email" type="email"  placeholder="Email Address"/>
			</div>

			<div>
				<label for="password"></label>
				<input id="password" name="password" type="password"  placeholder="Password"/>
				<div>

					<div>
						<button type="submit">Login</button>
						<p>Don't have a username/password? Maybe you should <a href="/register">register</a>?</p>
					</div>
		</form>
		{{end}}

	</body>
</html>
