<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<title>{{.CompanyName}} CasGo Register</title>

		<!-- Inline styles -->
		<style>
		 .alerts-container {
			 margin-top: 1em;
			 margin-bottom: 1em;
		 }
		 .alert {
			 padding: 1em;
			 color: white;
		 }
		 .alert.error {
			 background-color: #FF6961;
		 }
		 .alert.success {
			 background-color: #77DD77;
		 }

		</style>

	</head>
	<body>
		<h1>{{.CompanyName}} - Register</h1>

		<div class="alerts-container">
			{{if .Error}}
			<div class="alert error">
				{{.Error}}
			</div>
			{{end}}

			{{if .Success}}
			<div class="alert success">
				{{.Success}}
			</div>
			{{end}}
		</div>

		{{if .Success}}
		<h2> Thanks for registering!</h2>
		<p>Now that you've registered, you can <a href="/login">Login</a>!</p>
    {{else}}
		<form action="/register" method="POST">
			<div>
				<label for="email"></label>
				<input id="email" name="email" type="email"  placeholder="Email Address"/>
			</div>

			<div>
				<label for="password"></label>
				<input id="password" name="password" type="password"  placeholder="Password"/>
				<div>

					<div>
						<button type="submit">Register</button>
					</div>
		</form>
		{{end}}

	</body>
</html>
