body, html {
  width: 100%;
}

.topnav {
  background: #444;
  color: white;
  font-size: 20px;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.topnav-list {
  list-style: hidden;
  display: inline;
}

.topnav-brand {  margin-left: 1em; }

.topnav-list-item {
  margin-left: 1em;
  margin-right: 1em;
  display: inline;
}

.topnav-list-item-link {
  text-decoration: none;
  color: inherit;
}

.topnav-list-item-link:hover {
  text-decoration: none;
  border-bottom: dashed white 2px;
  color: inherit;
}

.jumbotron { padding: 4em 1em 4em 1em; }

/* Utility classes */
.centered-text { text-align: center; }

